@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/sf-pro-display/black.ttf');
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../assets/fonts/sf-pro-display/regular.ttf');
}

@font-face {
    font-family: 'SF Pro Display Semi-Bold';
    src: url('../assets/fonts/sf-pro-display/semi-bold.ttf');
}

@font-face {
    font-family: 'Spartan';
    src: url('../assets/fonts/spartan/black.ttf');
}

@font-face {
    font-family: 'Spartan Regular';
    src: url('../assets/fonts/spartan/regular.ttf');
}

@font-face {
    font-family: 'Spartan Semi-Bold';
    src: url('../assets/fonts/spartan/semi-bold.ttf');
}

*:not(.modal):not(.modal-overlay):not(.stars):not(.list-links):not(header) {
    position: relative;
    z-index: 1;
}

h1, button {
    font-family: 'Spartan Semi-Bold';
}

p, span, small {
    font-family: 'SF Pro Display Regular';
}

a, label, strong {
    font-family: 'SF Pro Display Semi-Bold';
}

body {
    background: radial-gradient(ellipse at top, #24303d 0%, #090a0f 100%);
    text-align: center;
}

textarea {
    outline: none;
}

textarea:not(.browser-default):focus:not([readonly]) {
    border: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.wrong-input {
    border-bottom: 1px solid #d52157 !important;
    -webkit-box-shadow: 0 1px 0 0 #d52157 !important;
    box-shadow: 0 1px 0 0 #d52157 !important;
}

.wrong-textarea {
    border: 1px solid #d52157 !important;
    -webkit-box-shadow: 0 1px 0 0 #d52157 !important;
    box-shadow: 0 1px 0 0 #d52157 !important;
}

.disabled-button {
    cursor: not-allowed !important;
    opacity: 0.5;
}

.icon-svg-container img {
    width: 100px;
}

.d-none {
    display: none;
}

.modal {
    color: rgb(12, 46, 80);
}

.modal-content img {
    animation: spin infinite 2s linear;
}

.modal-buttons {
    margin-top: 20px;
    text-align: right;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* ------------------- Smartphones ------------------- */
@media (max-width: 480px){
    html {
        scroll-behavior: smooth;
    }

    body {
        padding-top: 70px;
        text-align: center;
        font-size: 12px;
        background: radial-gradient(ellipse at top, #24303d 0%, #090a0f 100%);
    }

    .small-text {
        letter-spacing: 1px;
        font-weight: 500;
        line-height: 0.8;
        color: rgba(30, 143, 255, 0.74);
        font-size: 11px;
        font-family: 'SF Pro Display';
    }

    .nav-wraper > .brand-logo > img {
        width: 112px;
        height: 56px;
    }

    .apply-demo {
        display: none;
    }

    .apply-demo2 {
        font-family: 'SF Pro Display Semi-Bold';
        display: inline-block;
        border-radius: 50px;
        border: none;
        margin-top: 7px;
        margin-bottom: 5px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        background:linear-gradient(90deg, rgb(0, 104, 255) 0%, rgb(42, 255, 255) 100%);
        color: #fff;
        font-size: 12px;
        line-height: 0.8;
    }

    .nav-wraper > .list-inline > .lt000 > .a-lt000{
        padding: 3px;
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 12.5px;
        color: rgb(0, 67, 134);
    }

    textarea.materialize-textarea{
        color: #fff;
    }

    .nav-wraper > .list-inline > .lt000 {
        margin-left: 16px;
        padding: 0px;
    }

    .list-inline {
        margin-left: 25px;
    }

    .list-links {
        background-color:#fff;
        z-index: 2;
        top: 0px;
        position: fixed;
    }

    .first-title > .text-learning{
        font-size: 45px;
        margin-top: 14px;
        color: #fff;
    }

    .first-title {
        margin-top: 20px;
    }

    .discover {
        font-family: 'SF Pro Display Semi-Bold';
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 50px;
        border: none;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 0.8;
        color: #fff;
        background:linear-gradient(90deg, rgb(0, 104, 255) 0%, rgb(42, 255, 255) 100%);
    }

    .session-card {
        display: inline-block;
        margin-top: 20px;
        height: auto;
        color: #fff;
    }

    .sess-type {
        font-weight: 700;
        font-size: 15px;
        margin: 0px;
        font-family: 'SF Pro Display';
    }

    .sess-text-card {
        margin-top: 20px;
        margin: 10px;
        font-size: 13px;
        color: #f2f2f2;
    }

    .section-welcome_cubo > .section-title {
        font-size: 35px;
        margin-top: 0px;
        color: #fff;
    }

    .text-discover {
        font-size: 11px;
        font-weight: 500;
        line-height: 0.8;
        color: rgba(30, 143, 255, 0.74);
        margin-top: 50px;
        font-family: 'SF Pro Display';
    }

    .info-card {
        border-radius: 20px;
        border: 2px solid transparent;
        border-image: linear-gradient(to right, #0068FF 0%, #2AFFFF 100%) 1;
        padding: 0px;
        margin: 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        color: #fff;
    }

    .info-title {
        font-weight: 700;
        font-size: 15px;
        margin: 0px;
        margin-top: 20px;
    }

    .text-info-card {
        margin-top: 20px;
        margin: 20px;
        font-size: 12.2px;
        color: #f2f2f2;
    }

    .subjects-section {
        margin-top: 30px;
        color: #fff;
    }

    .subjects-section > h1 {
        font-size: 40px;
    }

    .subjects-btn {
        font-weight: 700;
        border-radius: 20px;
        padding: 8px;
        background-color: transparent !important;
        border-image: linear-gradient(to right, #0068FF 0%, #2AFFFF 100%) 1;
        width: 80%;
        color: #fff;
    }

    .subjects-btn img {
        width: 25px;
        margin-bottom: 10px;
    }

    .subjects-btn > small {
        color: #cccc;
    }

    .subjects-btn:disabled {
        border: none;
        background-color: transparent !important;
    }

    .subjects-btn:hover {
        background-color: transparent !important;
    }

    .subjects-btn small {
        font-size: 9px;
        font-weight: 700;
    }

    .section-learn {
        margin-top: 30px;
        padding: 0px;
        width: 100%;
    }

    .section-learn > .small-text {
        font-weight: 500;
        line-height: 0.8;
        color: rgba(30, 143, 255, 0.74);
        font-size: 11px;
        font-family: 'SF Pro Display';
    }

    .learn-title {
        color: #fff;
        font-size: 37px;
        margin-top: 0px;
        margin-left: 11px;
        margin-right: 11px;
    }

    .radio-container {
        display: flex;
    }

    .radio-buttons {
        padding: 1em;
        margin: 0px auto;
    }

    input[type="radio"] {
        opacity: 0;
        width: 0;
    }

    input[type="radio"]:checked + label{
        color:  rgb(0, 174, 255)
    }

    .card {
        box-shadow: none;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: transparent;
    }

    .card:hover {
        border: 2px solid transparent;
        border-image: linear-gradient(to right, #0068FF 0%, #2AFFFF 100%) 1;
        margin-left: 20px;
        margin-right: 20px;
    }

    .card-stacked > p {
        color: #fff;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-right: 50px;
        font-family: 'SF Pro Display';
    }

    .card-stacked > .card-content {
        word-break: break-all;
        padding: 0px;
        margin: 20px;
        text-align: left;
        color: #f2f2f2;
    }

    .card-image {
        margin-top: 65px;
        margin-left: 15px;
    }

    .about {
        background-color: #fff;
        margin-top: 25px;
        padding-top: 20px;
        padding-bottom: 25px;
    }

    .title-about {
        margin: 0px;
        color: #24303d;
        font-size: 30px;
        padding: 0px;
    }

    .about-text {
        color: #24303d;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .seemore-btn {
        font-family: 'SF Pro Display Semi-Bold';
        margin-top: 10px;
        display: inline-block;
        border-radius: 50px;
        border: none;
        padding:10px;
        padding-left: 25px;
        padding-right: 25px;
        background:linear-gradient(90deg, rgb(0, 104, 255) 0%, rgb(42, 255, 255) 100%);
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        line-height: 0.8;
    }

    .contact-text-small {
        font-size: 11px;
        font-weight: 500;
        line-height: 0.8;
        color: rgba(30, 143, 255, 0.74);
        margin-top: 50px;
        font-family: 'SF Pro Display';
    }

    .contact-title {
        color: #fff;
        margin: 6px;
        font-size: 38px;
        padding: 0px;
    }

    .radio-container > .radio-buttons{
        background:linear-gradient(90deg, rgba(6, 38, 48, 0.829) 0%, rgb(42, 72, 116, 0.829) 100%);
        border-radius: 20px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
    }

    .radio-container > li {
        padding: 0px;
    }

    .radio-container > .radio-buttons:hover {
        box-shadow: 2px 1px  1px rgb(0, 174, 255);
        transition: 0.2s;
        transform: scale(0.9);
        cursor: pointer;
    }

    .radio-container {
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .radio-container > .radio-buttons > label {
        color: #fff;
        font-family: 'SF Pro Display Semi-Bold';
    }

    form > .col > .form-control {
        font-family: 'SF Pro Display Regular';
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 65%;
    }

    form > .container-radio-buttons {
        margin-bottom: 25px;
    }

    .collapsible-header {
        background: transparent;
        height: 70px;
        border: 1px solid #ddd;
        color: #fff;
        background: transparent;
        border-radius: 10px;
        margin-top: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    } 

    .collapsible {
        margin-top: 40px;
        margin-left: 15px;
        margin-right: 15px;
        border: none;
    }

    .benefits-ulist > li{
        margin-top: 10px;
        width: 100%;
    }

    .collapsible-header > img {
        width: 38px;
    }

    .collapsible-body {
        border: 1px solid #ddd;
        border-top: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .collapsible-header > p {
        margin-left: 15px;
        text-align: left;
    }

    .collapsible-header > .small {
        font-family: 'SF Pro Display Regular';
        font-weight: 100;
        font-size: 9px;
        color: rgba(30, 143, 255, 0.74);
    }

    .collapsible-header > .title {
        font-family: 'SF Pro Display';
    }

    .benefits-text-small {
        letter-spacing: 1px;
        font-weight: 500;
        line-height: 0.8;
        color: rgba(30, 143, 255, 0.74);
        font-size: 11px;
        font-family: 'SF Pro Display';
        margin-top: 40px;
    }

    .collapsible-header > .grade {
        font-family: 'SF Pro Display Semi-Bold';
        margin-top: 5px;
    }

    .btn-send-email {
        font-family: 'SF Pro Display Semi-Bold';
        margin-top: 10px;
        display: inline-block;
        border-radius: 50px;
        border: none;
        padding:10px;
        padding-left: 25px;
        padding-right: 25px;
        background:linear-gradient(90deg, rgb(0, 104, 255) 0%, rgb(42, 255, 255) 100%);
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        line-height: 0.8;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .disabled-btn {
        cursor: not-allowed;
        opacity: 0.5;
    }

    .carousel {
        margin-bottom: 0px;
        margin-top: 40px;
        width: 90%;
        margin-left: 20px;
        height: 190px;
    }

    .text-carousel {
        display: none;
    }

    .eluney-img {
        width: 120px;
        margin-top: 20px;
    }

    .container-img > img {
        display: none;
    }

    .im-eluney {
        display: none;
    }

    .container-inputs {
        width: 70%;
        margin-left: 50px;
        color: #fff;
    }

    .container-inputs input.form-control {
        color: #fff;
    }

    footer {
        display: none;
    }
}

/* ------------------- Desktop ------------------- */
@media (min-width: 1024px) {
    .subjects-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    html {
        scroll-behavior: smooth;
    }

    .collapsible-header {
        color: #fff;
        background: transparent;
    }

    ul:not(.browser-default)>li {
        list-style-type: disc !important;
    }

    .benefits-ulist {
        color: #fff;
    }

    textarea {
        height: 5rem !important;
    }

    body {
        padding-top: 70px;
    }

    .list-links {
        position: fixed;
        top: 0;
    }
    
    .small-text {
        letter-spacing: 1px;
        font-weight: 500;
        line-height: 0.8;
        color: rgba(30, 143, 255, 0.74);
        font-size: 15px;
        font-family: 'SF Pro Display';
    }
    
    .section-learn > .small-text {
        font-weight: 500;
        line-height: 0.8;
        color: rgba(30, 143, 255, 0.74);
        font-size: 11px;
        font-family: 'SF Pro Display';
    }
    
    .nav-wraper > .brand-logo > img {
        width: 128px;
        height: 64px;
        margin-left: 120px;
    }
    
    .apply-demo {
        letter-spacing: 1px;
        font-family: 'SF Pro Display Semi-Bold';
        display: inline-block;
        border-radius: 50px;
        border: none;
        margin-top: 7px;
        margin-bottom: 5px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        background:linear-gradient(90deg, rgb(0, 104, 255) 0%, rgb(42, 255, 255) 100%);
        color: #fff;
        font-size: 12px;
        line-height: 0.8;
        cursor: pointer;
    }
    
    .apply-demo2 {
        display: none;
    }
    
    .nav-wraper > .list-inline > .lt000 > .a-lt000{
        padding: 3px;
        margin-left: 40px;
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 14px;
        color: rgb(12, 46, 80);
        font-family: 'SF Pro Display Regular';
        font-weight: 600;
    }
    
    .nav-wraper > .list-inline > .lt000 {
        padding: 0px;
    }
    
    .list-inline {
        margin-left: 180px;
    }
    
    .list-links {
        background-color:#fff;
        z-index: 2;
    }
    
    .first-title > .text-learning{
        letter-spacing: 1px;
        font-size: 55px;
        margin-left: 380px;
        margin-right: 200px;
        margin-top: 40px;
        color: #fff;
        width: 45%;
    }
    
    .first-title {
        margin-top: 40px;
    }
    
    .discover {
        letter-spacing: 1px;
        font-family: 'SF Pro Display Semi-Bold';
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 50px;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 13px;
        color: #fff;
        background:linear-gradient(90deg, rgb(0, 104, 255) 0%, rgb(42, 255, 255) 100%);
        cursor: pointer;
    }
    
    .session-card {
        margin-top: 20px;
        height: auto;
        color: #fff;
        width: 20%;
        margin-left: 50px;
    }

    .container-sessions {
        display: inline-flex;
        margin-top: 50px;
    }
    
    .sess-type {
        font-weight: 700;
        font-size: 15px;
        margin: 0px;
        font-family: 'SF Pro Display';
    }
    
    .sess-text-card {
        margin-top: 20px;
        margin: 10px;
        font-size: 13px;
        color: #f2f2f2;
    }
    
    .section-welcome_cubo > .section-title {
        font-size: 55px;
        margin-top: 0px;
        color: #fff;
    }
    
    .text-discover {
        font-size: 11px;
        font-weight: 500;
        line-height: 0.8;
        color: rgba(30, 143, 255, 0.74);
        margin-top: 100px;
        font-family: 'SF Pro Display';
    }
    
    .info-card {
        
        border: 2px solid transparent;
        border-image: linear-gradient(to right, #0068FF 0%, #2AFFFF 100%) 1;
        width: 30%;
        margin-left: 31em;
        margin-top: 20px;
        color: #fff;
    }
    
    .info-title {
        font-weight: 700;
        font-size: 15px;
        margin: 0px;
        margin-top: 20px;
    }
    
    .text-info-card {
        margin-top: 20px;
        margin: 20px;
        font-size: 12.2px;
        color: #f2f2f2;
    }
    
    .subjects-section {
        margin-top: 100px;
        color: #fff;
        margin-left: 15px;
        margin-right: 15px;
    }

    .subjects-section > h1 {
        font-size: 55px;
    }
    
    .subjects-btn {
        font-weight: 700;
        padding: 8px;
        background-color: transparent;
        border-image: linear-gradient(to right, #0068FF 0%, #2AFFFF 100%) 1;
        width: 20%;
        color: #fff;
        margin-top: 60px;
        cursor: pointer;
    }

    .subjects-btn:first-child {
        margin-top: 83px;
    }

    .subjects-btn img {
        width: 25px;
        margin-bottom: 10px;
    }
    
    .subjects-btn > small {
        font-size: 9px;
        font-weight: 700;
        color: #cccc;
    }
    
    .subjects-btn:disabled {
        border: none;
        background-color: transparent !important;
    }

    .subjects-btn:focus {
        background-color: rgba(218, 218, 218, 0.027);
    }
    
    .carousel {
        margin-top: 100px;
    }
    
    .section-learn {
        margin-top: 130px;
        padding: 0px;
    }
    
    .section-learn > .small-text {
        font-weight: 500;
        line-height: 0.8;
        color: rgba(30, 143, 255, 0.74);
        font-size: 11px;
        font-family: 'SF Pro Display';
    }

    .eluney-img {
        float: right;
        margin-right: 160px;
        width: 180px;
        height: 100%;
        margin-top: 130px;
        border-radius: 100px;
    }
    
    .learn-title {
        color: #fff;
        font-size: 55px;
        margin-top: 0px;
        width: 43%;
        margin-left: 27rem;
    }
    
    .radio-container {
        display: flex;
    }
    
    .radio-buttons {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px auto;
    }

    .container-radio-buttons .radio-buttons, .list-inline .lt000 {
        list-style-type: none !important;
    }
    
    input[type="radio"] {
        opacity: 0;
        width: 0;
    }
    
    input[type="radio"]:checked + label{
        color:  rgb(0, 174, 255)
    }
    
    .card {
        box-shadow: none;
        padding: 10px;
        background-color: transparent;
        margin-left: 30px;
        margin-top: 0px;
    }

    .container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        width: 65%;
        margin-left: 80px;
        margin-top: 110px;
    }
    
    .card:hover {
        border: 2px solid transparent;
        border-image: linear-gradient(to right, #0068FF 0%, #2AFFFF 100%) 1;
        padding-bottom: 0px;
    }
    
    .card-stacked > p {
        font-size: 15px;
        color: #fff;
        text-align: left;
        margin-bottom: 0px;
        margin-left: 24px;
        font-family: 'SF Pro Display';
    }
    
    .card-stacked > .card-content {
        word-break: break-all;
        color: #f2f2f2;
        padding-top: 0px;
        margin-top: 20px;
    }

    .card-content > p {
        text-align: justify;
        word-wrap: break-word;
    }
    
    .about {
        background-color: #fff;
        margin-top: 70px;
        padding-top: 80px;
        padding-bottom: 80px;
        width: 100%;
    }
    
    .title-about {
        margin: 0px;
        color: #24303d;
        font-size: 55px;
        padding: 0px;
    }

    .about > img {
        display: block;
        margin-left: 90px;
    }
    
    .about-text {
        color: #24303d;
        width: 30%;
        margin-left: 471px;
        font-size: 13px;
    }
    
    .seemore-btn {
        font-family: 'SF Pro Display Semi-Bold';
        margin-top: 10px;
        display: inline-block;
        border-radius: 50px;
        border: none;
        padding:10px;
        padding-left: 25px;
        padding-right: 25px;
        background:linear-gradient(90deg, rgb(0, 104, 255) 0%, rgb(42, 255, 255) 100%);
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        line-height: 0.8;
        cursor: pointer;
    }
    
    .contact-text-small {
        letter-spacing: 1px;
        font-weight: 500;
        line-height: 0.8;
        color: rgba(30, 143, 255, 0.74);
        font-size: 11px;
        font-family: 'SF Pro Display';
        margin-top: 70px;
    }

    .benefits-text-small {
        letter-spacing: 1px;
        font-weight: 500;
        line-height: 0.8;
        color: rgba(30, 143, 255, 0.74);
        font-size: 11px;
        font-family: 'SF Pro Display';
        margin-top: 70px;
    }
    
    .contact-title {
        color: #fff;
        margin: 0px;
        font-size: 55px;
        padding: 0px;
    }
    
    .radio-container > .radio-buttons{
        background:linear-gradient(90deg, rgba(6, 38, 48, 0.829) 0%, rgb(42, 72, 116, 0.829) 100%);
        border-radius: 20px;
        color: #fff;
        margin: 10px;
    }
    
    .radio-container > .radio-buttons:hover {
        box-shadow: 2px 1px  1px rgb(0, 174, 255);
        transition: 0.2s;
        transform: scale(0.9);
        cursor: pointer;
    }

    .radio-buttons > .radio-label:hover {
        cursor: pointer;
    }
    
    .radio-container {
        margin-top: 40px;
        margin-left: 31em;
    }
    
    .radio-container > .radio-buttons > label {
        color: #fff;
        font-family: 'SF Pro Display Semi-Bold';
    }
    
    form > .col > .form-control {
        font-family: 'SF Pro Display Regular';
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 65%;
    }
    
    form > .container-radio-buttons {
        margin-bottom: 25px;
        padding: 0px;
    }
    
    .btn-send-email {
        font-family: 'SF Pro Display Semi-Bold';
        margin-top: 10px;
        display: inline-block;
        border-radius: 50px;
        border: none;
        padding:10px;
        padding-left: 25px;
        padding-right: 25px;
        background:linear-gradient(90deg, rgb(0, 104, 255) 0%, rgb(42, 255, 255) 100%);
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        line-height: 0.8;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .collapsible > li {
        list-style-type: none;
    }

    .collapsible-header {
        background: transparent;
        height: 70px;
        border: 1px solid #ddd;
        color: #fff;
        background: transparent;
        border-radius: 10px;
        margin-top: 20px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .collapsible-header:focus {
        background-color: transparent !important;
    }


    .collapsible {
        color: transparent;
        margin-top: 40px;
        margin-left: 70px;
        margin-right: 70px;
        border: none;
        border-color: transparent;
    }

    .benefits-ulist > li{
        margin-top: 10px;
        width: 100%;
        text-align: left;
        margin-left: 40px;
    }

    .collapsible-header > img {
        width: 38px;
        margin-left: 20px;
    }

    .collapsible-body {
        border: 1px solid #ddd;
        border-top: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .collapsible-header > p {
        margin-left: 15px;
        text-align: left;
    }

    .collapsible-header > .small {
        font-family: 'SF Pro Display Regular';
        font-weight: 100;
        margin-top: 12px;
        font-size: 9px;
        color: rgba(30, 143, 255, 0.74);
    }

    .collapsible-header > .title {
        font-family: 'SF Pro Display';
        margin-top: 7px;
    }

    .collapsible-header > .grade {
        font-family: 'SF Pro Display Semi-Bold';
        margin-top: 7px;
    }

    .container-img {
        float: center;
    }

    .carousel > .carousel-item > img {
        width: 60%;
        height: 100%;
    }

    .carousel > .carousel-item {
        height: 100%;
    }

    .text-carousel {
        font-family: 'SF Pro Display Semi-Bold';
        text-align: left;
        font-size: 16px;
        float: right;
        width: 7%;
        margin-right: 200px;
        margin-top: 125px;
    }

    .im-eluney {
        display: inline-block;
        font-family: 'SF Pro Display Semi-Bold';
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #fff;
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 30px;
        margin-left: 60px;
        margin-bottom: 30px;
        background:linear-gradient(90deg, rgb(0, 104, 255) 0%, rgb(42, 255, 255) 100%);
    }

    .container-inputs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 45%;
        margin-left: 380px;
        margin-bottom: 20px;
        margin-top: 30px;
        color: #fff;
    }

    .container-inputs > div {
        margin-left: 50px;
    }

    .container-inputs input.form-control {
        color: #fff;
    }

    textarea.materialize-textarea{
        color: #fff;
    }

    footer {
        color: #fff;
        font-family: 'SF Pro Display Semi-Bold';
        margin-top: 80px;
    }

    .footer-content {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }

    .footer-content > p  {
        font-family: 'SF Pro Display Semi-Bold';
        font-size: 13px;
    }

    .container-icons-rrss {
        margin-top: 10px;
    }

    .container-icons-rrss > a {
        margin-left: 20px;
    }

    .btn-send-email {
        margin-right: 34em;
    }

    .col > textarea {
        width: 100%;
    }

}